/* ======== ヘッダー ======== */
.main-header {
  color: #F3B000;
}

.btn-left-sidevar {
  box-shadow: none;
  padding:0;
}

.text-title {
  color: #F3B000;
  font-size:26px;
}

.user {
  color: #333333;
  overflow: visible;
}

.user .text-useroffice {
  font-size: 14px;
  top:1em;
}

.user .text-username {
  font-size: 16px;
}

.icon-dropdown {
  color: #F3B000;
  margin:1em;
}

.img-notification {
  margin-right:3em;
  margin-top:0.5em;

}
.icon-menu {
  padding-bottom:0;
}

.front{
  position:sticky;
  z-index: 102;
  overflow: visible;
  width: 100%;
}

.navbar{
  box-shadow:none;
  height:50px;
}

.himawari-home {
  color: white;
  background-color: #F3B000;
  border: none;
  width: 110px;
  height: 35px;
}

/* ======== ツールバー ======== */

.toolbar-himawari {
  min-height: 50px;
  color: white;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.vertical-divider {
  display: inline-block;
  min-height: 36px;
  border-left: 1px solid #DBDAD5;
}

img.himawari-brand {
  position: absolute;
  right: 3.5rem;
  bottom: 0;
}

.content-wrapper {
  background-color: #F4F3EA;
  color: #994E20;
  padding:20px;
   position:relative;
}
#Tab3{
  background-color: white;
  margin-top: 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 670px;
}

.control-sidebar-knob {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 36px;
}

.content-wrapper > .content-header {
  background-color: #f4f3ea;
  top:50px;
  padding: 1rem 0;
  height: 600px;
}

.navbar {
  box-shadow: none;
}

.front {
  position: sticky;
  z-index:101;
  overflow: visible;
  width:100%;
}

.date {
  color:white;
  font-size: 22px;
  padding-top:0.5em;
}

.badge-weekday {
  color: rgb(237,161,0);
  background-color: white;
  font-weight: bold;
  line-height: 1.2;
}

.riyousya {
  background-color: #F3B000;
  border-radius: 0.5rem;
  color:white;
  font-weight: bold;
  font-size: 24px;
  margin-left:1rem;
  margin-right:1rem;
  padding: 0rem 1.5rem;
}

.hennshutyu{
  background-color: white;
  color: rgb(237,161,0);
  font-weight: normal;
  padding: 0.3rem 1.5rem;
  border-radius: 0.5rem;
  transform: translateX(-40px);
}
.kyotakukaigosiennkeika{
  font-size: 24px;
 
  transform: translateX(-40px);
}
/* ======== 居宅介護支援経過 ======== */


.content{
  background-color:lightyellow;
  height:540px;
  border-radius: 20px;
  margin: 10px;
  margin-top: 3rem;
  
}
#kuro{
  color: black;
  font-size: 21px;
}

.itemname {
  width:200px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  height: calc(2.25rem + 2px);
}

.datetime {
  width:200px;
}

.Author {
  background-color: antiquewhite;
  border:1px solid black;
  color:#333333;
  margin-left:0.5rem;
  margin-right:0.5rem;
  padding:0.5rem;
}

.btn-register {
  border-style:none;
  background-color:dodgerblue;
  width:130px;
  margin-top:5px;
  margin-bottom: 8px;
}

.btn-back {
  border-style:none;
  background-color:gray;
  width:130px;
  margin-top:5px;
  margin-bottom: 8px;
}



.table-hover tbody tr:hover {
  color: #212529;
  background-color:  rgba(237,161,0,1);
}

.naiyo{
  transform: translatey(25px);
}
.naiyo2{
 
  transform: translateX(0px);
}



.input-group.input-flatpickr-time{
  width: 160px;
  transform: translateX(15px);

}
.m-1{
  transform: translateX(15px);
}

.input-group.input-flatpickr-date{
  margin-top: 30px;
  transform: translateX(23px);
  width: 280px;
}

#zikan{
  margin-top: 30px;
  transform: translateX(26px);
}

.form-group.d-flex{
margin-top: 30px;
transform: translateX(27px);
}

.input-flatpickr-date{
  width: 200px;
}


#button2{
  transform: translateX(20px);
}

#textarea{
height: 700px;
font-size: 19px;
transform: translateY(38px);
  
}

.sakuseisha{
  margin-left: 545px;
  font-size: 20px;
  border:solid 1px black;
  margin-right: 240px;
  color: black;
  margin-bottom: 50px;
  transform: translateY(30px);

}
#sakuzyo{
transform: translateX(720px) translateY(30px);
background-color:orangered;
font-size:large;
}
.nyuryokukubun{
  transform: translateX(30px);
  margin-top: 30px;
  font-size: 18px;
  color: black;
}
