/* ======== ヘッダー ======== */
.main-header {
    color: #F3B000;
  }
  
  .btn-left-sidevar {
    box-shadow: none;
    padding:0;
  }
  
  .text-title {
    color: #F3B000;
    font-size:26px;
  }
  
  .user {
    color: #333333;
    overflow: visible;
  }
  
  .user .text-useroffice {
    font-size: 14px;
    top:1em;
  }
  
  .user .text-username {
    font-size: 16px;
  }
  
  .icon-dropdown {
    color: #F3B000;
    width: 12.504px;
    height: 8.074px;
    transform: matrix(1,0,0,1,0,0);
    margin:1em;
  }
  
  .img-notification {
    margin-right:3em;
    margin-top:0.5em;
  
  }
  .icon-menu {
    padding-bottom:0;
  }
  
  .navbar{
    box-shadow:none;
    height:50px;
  }
  .front{
    position:sticky;
    z-index: 102;
    overflow: visible;
    width: 100%;
  }
  .himawari-home {
    color: white;
    background-color: #F3B000;
    border: none;
    width: 110px;
    height: 35px;
  }
  /* ======== ツールバー ======== */
  
  .toolbar-himawari {
    min-height: 68px;
    color: white;
    border-radius: 15px;
  }
  
  .vertical-divider {
    display: inline-block;
    min-height: 36px;
    border-left: 1px solid #DBDAD5;
  }
  
  img.himawari-brand {
    position: absolute;
    right: 0.5rem;
    bottom: 0;
  }
  
  .content-wrapper {
    background-color: #F4F3EA;
    color: #994E20;
    padding:20px;
     position:relative;
  }
  
  .control-sidebar-knob {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 36px;
  }
  
  .content-wrapper > .content-header {
    background-color: #f4f3ea;
    top:50px;
    padding: 1rem 0;
    width: 97%;
    z-index: 102;
  }
  
  .navbar {
    box-shadow: none;
    height: 50px;
  }
  
  .toolbar-himawari {
    min-height: 50px;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
  }
  .front {
    position: sticky;
    z-index:101;
    overflow: visible;
    width:100%;
  }
  
  .date {
    color:white;
    font-size: 22px;
    padding-top:0.5em;
  }
  
  .badge-weekday {
    color: rgb(237,161,0);
    background-color: white;
    font-weight: bold;
    line-height: 1.2;
  }
  
  .riyousya {
    background-color: #F3B000;
    border-radius: 0.5rem;
    color:white;
    font-weight: bold;
    font-size: 24px;
    margin-left:1rem;
    margin-right:1rem;
    padding: 0.5rem 1.5rem;
  }
  
  
  .toggle-nintei {
    font-size:16px;
    border: 2px solid white;
  }
  
  /* ======== タブ ======== */
  .content-tabs {
    background-color:dimgray;
    border-radius: 0.5px;
    color: #333333;
    padding:1rem;
    position:relative;
    height:530px;
  }
  
  .himawari-theme.nav-tabs {
    position: relative;
  }
  
  .himawari-theme.nav-tabs .nav-link {
    border:1px solid;
    border-top-color: rgb(222, 226, 230);
    border-left-color: rgb(222, 226, 230);
    border-right-color: rgb(222, 226, 230);
    border-bottom-color: white;
    color: #994E20;
    font-size: 17px;
    margin-right: 0px;
    height:4.5em;
    text-align: left;
    padding-left:1rem;
    padding-right:0;
  }
  
  .tab-content {
    background-color: rgb(244,243,234);
    position:relative;
    margin-top:2rem ;
    width: 100%;
    height:100%;
  }
  
  .nav-link > .active {
    background-color: white;
    border-bottom:none;
    height: 100%
  }
  
  /* ======== 利用者検索サイドバー ======== */
  .menu-open {
    background-color:rgba(153,78,32,1);
    border-color:rgba(153,78,32,1);
    color: white;
    align-items: center;
    right: 0;
    height:100%;
    position: absolute;
    height: 40px;
    position: fixed;
    margin-top: 50px;
    width: 40px;
  }
  
  .menu-close {
    border:1px solid rgba(153,78,32,1);
    box-shadow: none;
    margin-top:1px;
  }
  
  .right-sidebar {
    background-color:rgba(153,78,32,1);
    border-color:rgba(153,78,32,1);
    color: white;
    align-items: center;
    right: 0;
    height:100%;
    margin: 1rem 0;
    position: fixed;
    top:33px;
    width:250px;
  }
  
  .right-sidebar > .offcanvas-header {
    align-items: stretch;
    background-color: rgba(153,78,32,1);
    padding:1px;
    width:100%;
  }
  
  .right-sidebar > .offcanvas-body {
    background-color: #F4F3EA;
    padding:0;
    width:100%;
  }
  
  .right-sidebar > .offcanvas-body > div {
    background-color: white;
    color: #333333;
    margin: 3px;
    font-size: 18px;
    height:3rem;
    padding:0.5rem;
  }
  
  select {
    -webkit-appearance: menulist;
  }
  
  /* ======== 担当者会議の要点 ======== */
  #Tab4 {
      background-color:dimgray;
    padding:10px;
    width: 97%;
  }
  
  #Tab4 > .content-wrapper{
      background-color:dimgray;
      color: #333333;
      font-size: 16px;
      padding: 10px;
      margin-right: 0px;
  }
  
  .tab4-title {
    font-size:22px;
    text-align: center;
  }
  
  .container {
    background-color: antiquewhite;
    padding:1rem;
    max-width:100%;
    width:95%;
    height: 400px;
    margin-top: 30px;
    border-radius: 10px;
  }
  
  .btn-new {
    /*margin-top:2.5rem;*/
    width:120px;
    background-color:#F3B000;
    transform: translateY(10px) translateX(90px);
    font-size: large;
  
  }
  
  .btn-edit {
    border-style:none;
    background-color:#F3B000;
    margin-bottom:5px;
    vertical-align: top;
    padding:0;
    /*text-align:left;*/
    width:100%;
    height: 50px;
  }
  
  #mozi{
    font-size: 22px;
    
  }
  
  .sinkisakusei{
    background-color:whitesmoke;
    border: 5px;
    padding: 40px;
    border-radius: 10px;
   
    transform: translateY(-0px);
    height: 180px;
  }
  
  .sakuseinenngappi{
    transform: translateX(1px) translateY(4px);
  }
  .form-control{
    width: 100px;
   
  }
  
  .input-flatpickr-date{
    width:21rem ;
    transform: translateX(-30px);
    font-size: large;
  }
  
  .yousiki{
    font-size: large;
    
  }
  
  .yosikilong{
    width: 200px;
  
  }