/* ======== ヘッダー ======== */
.main-header {
  color: #F3B000;
}

.btn-left-sidevar {
  box-shadow: none;
  padding:0;
}

.text-title {
  color: #F3B000;
  font-size:26px;
}

.user {
  color: #333333;
  overflow: visible;
}

.user .text-useroffice {
  font-size: 14px;
  top:1em;
}

.user .text-username {
  font-size: 16px;
}

.icon-dropdown {
  color: #F3B000;
  width: 12.504px;
  height: 8.074px;
  transform: matrix(1,0,0,1,0,0);
  margin:1em;
}

.img-notification {
  margin-right:3em;
  margin-top:0.5em;

}
.icon-menu {
  padding-bottom:0;
}

/* ======== ツールバー ======== */

.toolbar-himawari {
  min-height: 68px;
  color: white;
  border-radius: 15px;
}

.vertical-divider {
  display: inline-block;
  min-height: 36px;
  border-left: 1px solid #DBDAD5;
}

img.himawari-brand {
  position: absolute;
  right: 3.5rem;
  bottom: 0;
}

.content-wrapper {
  background-color: #F4F3EA;
  color: #994E20;
  padding:20px;
   position:relative;
}

.control-sidebar-knob {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 36px;
}

.content-wrapper > .content-header {
  background-color: #f4f3ea;
  top:4.25rem;
  padding: 1rem 0;
}

.navbar {
  box-shadow: none;
}

.front {
  position: sticky;
  z-index:101;
  overflow: visible;
  width:100%;
}

.date {
  color:white;
  font-size: 22px;
  padding-top:0.5em;
}

.badge-weekday {
  color: rgb(237,161,0);
  background-color: white;
  font-weight: bold;
  line-height: 1.2;
}

.riyousya {
  background-color: #F3B000;
  border-radius: 0.5rem;
  color:white;
  font-weight: bold;
  font-size: 24px;
  margin-left:1rem;
  margin-right:1rem;
  padding: 0.5rem 1.5rem;
}

.title {
  background-color: #F3B000;
  border-radius: 0.5rem;
  color:white;
  font-weight: normal;
  font-size: 24px;
  margin-left:1rem;
  margin-right:1rem;
  padding: 0.5rem 1.5rem;
}

/* ======== 担当者会議の要点 ======== */
.content{
  margin-top: 2.5rem;
}

.itemname {
  width:200px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  height: calc(2.25rem + 2px);
}

.datetime {
  width:200px;
}

.Author {
  margin-left:10px;
}

.btn-register {
  background-color: mediumseagreen;
  border-style:none;
  width:130px;
}

.btn-back {
  background-color:salmon;
  border-style:none;
  width:130px;
}

.btn-copy {
  background-color:cornflowerblue;
  border-style:none;
  width:130px;
}

.btn-history {
  background-color:cornflowerblue;
  border-style:none;
  padding-left:0.5em;
  padding-right:0.5em;
}

.btn-toggle {
  background-color:mediumspringgreen;
  border-style:none;
  color:#333333;
  padding-left:0.5em;
  padding-right:0.5em;
}

.btn-capture {
  background-color:goldenrod;
  border-style:none;
  color:#333333;
  padding-left:0.5em;
  padding-right:0.5em;
}

.btn-jireibun {
  border-style:none;
  background-color:peachpuff;
  color:#333333;
  font-size:inherit;
  vertical-align: top;
}

.btn-renrakusaki {
  border-style:none;
  background-color:silver;
  color:#333333;
  font-size:inherit;
  vertical-align: top;
}

.btn-delete {
  border-style:none;
  background-color:khaki;
  width:130px;
  margin-top:5px;
}

.table {
  font-size: .8rem;
}

.table th {
  width:19%;
  padding:0;
}
.table td {
  padding: 0;
}

.table textarea {
  font-size:inherit;
}

.underline {
  border-bottom:1px solid black;
}
